{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>{% block title %}assignment scheduler{% endblock %}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='{% static 'assets/css/bootstrap.min.css'%}' type='text/css' media='all'/>
<link rel='stylesheet' href='{% static 'assets/css/animate.min.css'%}' type='text/css' media='all'/>
<link rel='stylesheet' href='{% static 'style.css' %}' type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%2C800%7CMontserrat%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%7CDosis%3A400%2C700&#038;ver=4.5' type='text/css' media='all'/>
<link rel='stylesheet' href='{% static 'icons/elegantline/style.css' %}' type='text/css' media='all'/>
<link rel='stylesheet' href='{% static 'assets/css/font-awesome.min.css' %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static 'assets/css/flexslider.css' %}' type='text/css' media='all'/>



</head>
{% block extra-style %}{% endblock %}
<body class="frontpage">
<div class="page-loader">
	<img src="{% static 'assets/img/loader.gif' %}" alt="loader">
</div>

<!-- Header
================================================== -->
<header id="header">
<div id="mega-menu" class="header header2 header-sticky primary-menu icons-no default-skin zoomIn align-right">
	<nav class="navbar navbar-default redq">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home' %}">
			<!-- <img src=" ../static/assets/img/da_logo.png" > -->
			<img src={% static "assets/img/da_logo.png" %}>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<a class="mobile-menu-close"><i class="fa fa-close"></i></a>
			<div class="menu-top-menu-container">
				<ul id="menu-top-menu" class="nav navbar-nav nav-list">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'assignment:assignindex' %}">All Assignment</a></li>

					<li><a href="{% url 'assignment:subjectindex' %}">Subject</a></li>
					<li>	<a href="#" data-toggle="dropdown">ADD/CHANGE</a>
						<div class="dropdown-menu">
								<a class="dropdown-item" href="{% url 'assignment:add' %}">Add assignment</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'assignment:change' %}">Change assignment</a></li>
					<li><a target="_blank" href="https://digitalanalytics.yonsei.ac.kr/digital_analytics/index.do">DA HOMEPAGE</a></li>
					<!-- <li style="background: rgba(255, 255, 0, 0.51);">login</li> -->

					<li style="background: #bde0fe;">
						<a href="{% url 'assignment:mypage' %}">My Page</a>

					</li>

				</ul>
			</div>
		</div>


	</div>
	<!-- /.container -->
	</nav>
</div>
</header>


<div class ='home'>
		{% block home %}{% endblock %}
</div>

<div class ='containter'; style="padding-left:100px";>
		{% block content %}{% endblock %}
</div>

{% block footer %}
{% endblock %}
<script src="{% static 'assets/js/jquery.js'%}"></script>
<script src="{% static 'assets/js/plugins.js'%}"></script>
<script src="{% static 'contact/topvalidate.js'%}"></script>
<script src="{% static 'contact/bottomvalidate.js'%}"></script>

{% block extra-script %} {% endblock %}


</body>
</html>
